body{
background: url("folhas.jpg");
background-size: 100%;
}

.principal{
  font-family:"Arial","Helvetica";
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 30px;
  padding-top: 20px;
  padding-right: 20px;
  color:white;
  border-radius:10px;
  background-color: rgb(47,79,79,0.7);
  box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
}

h1 {
  padding-top: 20px;
  font-size: min(28px,8vw);
  color:rgb(23, 87, 86);
}

p{
  font-size:16px;
  color: #FFF;
}

.center{
    text-align:center;
    color:#FFF;
    padding-bottom: 20px;
}

#formulario{
  max-width:800px;
  background-color: 	rgb(47,79,79,0.9);
  border-radius:10px;
  padding: 30px 0px 20px 20px;
  align:center;
  margin-left: 4%;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
}

textarea,select{
  margin: 0;
  width:95%;
  font-family: "Arial","Helvetica";
  font-size: 16px;
  border-radius:5px;
  height:25px;
  border:none;
}

input:focus, textarea:focus, select:focus{
  background: rgb(222,247,219);
}

#name, #number, #email{
  margin: 0;
  width:95%;
  font-family: "Arial","Helvetica";
  font-size: 16px;
  border-radius:5px;
  height:25px;
  border:none;
}
.form-control{
  font-family: Arial,Helvetica;
  font-size: 16px;
  height:25px;
  align:center;
}

button{
  background-color: rgba(101,186,91,0.7);
  display:block;
  color:#FFF;
  border:none;
  border-radius:5px;
  height:35px;
  width:90%;
}

button:hover{
  font-weight: bold;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
  background-color:rgba(109,218,96);
}

#sugestoes{
  height:100px;
  width:90%;
  border-radius:5px;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.10rem;
}
